<a href="https://colab.research.google.com/github/EddyGiusepe/Flask_Machine_Learning_Project/blob/main/Flask_Machine_Learning_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# END TO END Machine learning Project deployment on Flask server

Data Scientists Jr.: Dr.Eddy Giusepe Chirinos Isidro

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Importamos as nossas bibliotecas

import pandas as pd
import numpy as np
from sklearn import linear_model


import warnings
warnings.filterwarnings("ignore")

In [ ]:
# Reading CSV

df = pd.read_csv('/content/drive/MyDrive/5_Scripts_in_Python_Eddy/End-to-End_ML_Project_deployment_on_Flask_server/car_data.csv')
df.sample(10)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
94,corolla altis,2008,4.00,22.780,89000,Petrol,Dealer,Automatic,0
239,eon,2012,2.00,4.430,23709,Petrol,Dealer,Manual,0
43,dzire,2014,5.50,8.060,45780,Diesel,Dealer,Manual,0
218,verna,2014,6.45,9.400,45078,Petrol,Dealer,Manual,0
183,Bajaj Discover 100,2013,0.27,0.470,21000,Petrol,Individual,Manual,0
161,TVS Apache RTR 180,2014,0.45,0.826,23000,Petrol,Individual,Manual,0
205,grand i10,2016,5.25,5.700,3493,Petrol,Dealer,Manual,1
177,Honda Activa 125,2016,0.35,0.570,24000,Petrol,Individual,Automatic,0
93,fortuner,2015,23.00,30.610,40000,Diesel,Dealer,Automatic,0
199,Honda CB Shine,2007,0.12,0.580,53000,Petrol,Individual,Manual,0

In [ ]:
# shape

df.shape

(301, 9)

In [ ]:
# Creating DataFrame

inputs = df.drop(['Car_Name', 'Seller_Type'], axis='columns')

In [ ]:
target = df.Selling_Price
target

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [ ]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [ ]:
# Encoding

from sklearn.preprocessing import LabelEncoder

Numerics = LabelEncoder()

In [ ]:
# New encoded columns

inputs['Fuel_Type_n'] = Numerics.fit_transform(inputs['Fuel_Type'])
inputs['Transmission_n'] = Numerics.fit_transform(inputs['Transmission'])

In [ ]:
inputs

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Transmission,Owner,Fuel_Type_n,Transmission_n
0,2014,3.35,5.59,27000,Petrol,Manual,0,2,1
1,2013,4.75,9.54,43000,Diesel,Manual,0,1,1
2,2017,7.25,9.85,6900,Petrol,Manual,0,2,1
3,2011,2.85,4.15,5200,Petrol,Manual,0,2,1
4,2014,4.60,6.87,42450,Diesel,Manual,0,1,1
...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,Diesel,Manual,0,1,1
297,2015,4.00,5.90,60000,Petrol,Manual,0,2,1
298,2009,3.35,11.00,87934,Petrol,Manual,0,2,1
299,2017,11.50,12.50,9000,Diesel,Manual,0,1,1
300,2016,5.30,5.90,5464,Petrol,Manual,0,2,1

In [ ]:
# Dropping string columns

inputs_n = inputs.drop(['Fuel_Type', 'Transmission','Selling_Price'], axis='columns')
inputs_n.head(6)

# Em base a estas 6 características fazeremos as nossas previsões.

   Year  Present_Price  Kms_Driven  Owner  Fuel_Type_n  Transmission_n
0  2014           5.59       27000      0            2               1
1  2013           9.54       43000      0            1               1
2  2017           9.85        6900      0            2               1
3  2011           4.15        5200      0            2               1
4  2014           6.87       42450      0            1               1
5  2018           9.83        2071      0            1               1

In [ ]:
inputs_n.shape

(301, 6)

In [ ]:
# Linear Regression

model = linear_model.LinearRegression()

In [ ]:
# Training

model.fit(inputs_n, target)

LinearRegression()

In [ ]:
# prediction

pred = model.predict([[2014, 5.59, 27000, 0, 2, 1]])
print(pred)

[3.42552752]

Precisamos converter este código grande em um único arquivo, em **Python** existe uma biblioteca chamada ``pickle``, é uma famosa biblioteca em Python. A maioria de Data Scientists usaram essa biblioteca para converter seu modelo de aprendizado de máquina em um único arquivo.

In [ ]:
# Importamos a biblioteca

import pickle

``pickle.dump()``: e neste objeto você precisa passar os dois argumentos
o primeiro é o modelo de aprendizado de máquina que você já criou e depois deve nomear este arquivo como o ``model.pkl``. Ao executar este código, você pode ver o arquivo model.pkl no diretório
do notebook jupyter Agora vamos fazer o upload deste arquivo para o ``servidor flask``.

In [ ]:
pickle.dump(model, open('model.pkl', 'wb'))

Antes disso, precisamos verificar como esse arquivo de modelo funciona e como ele prevê os dados. Digite:

> <font color="yellow">pickle.load(open(('model.pkl', 'rb'))</font>

Esta sintaxe irá ajudá-lo a carregar o arquivo pickle.

Vamos verificar como ele vai prever os preços dos carros. Então aqui eu dei os seis valores cada valoer representa características que estão presentes no conjunto de dados. Pode ver o preço previsto do carro!


Nosso modelo de aprendizado de máquina funciona perfeitamente. Vamos fazer o upload desse modelo no ``servidor flask``.

In [ ]:
pickle.load(open('/content/drive/MyDrive/5_Scripts_in_Python_Eddy/End-to-End_ML_Project_deployment_on_Flask_server/model.pkl', 'rb'))

LinearRegression()

In [ ]:
# prediction com o nosso modelo que carregamos

print(model.predict([[2014, 5.59, 27000, 0, 2, 1]]))

[3.42552752]

In [ ]:
print(model.predict([[2013, 9.54, 43000, 0, 1, 1]]))

[6.45188696]